.serif{
  font-family: $serif_thin;

  &.italic{
    font-family: $serif_thin_italic;
  }
}


.sans-serif{
  font-family: $sans_serif_regular;


  &.light{
    font-family: $sans_serif_thin;
  }

  &.italic{
    font-family: $sans_serif_thin_italic;
    -webkit-font-smoothing : auto;
  }
}


.title{
  &.big{
    font-size: 12.7vw;
    line-height: 11.5vw;
    //line-height: 220px;
  }
}


.uppercase{
  text-transform: uppercase;
}

.small{
  font-size: 14px;
}

.has-border{
  border-bottom: 10px solid $black;
  display: inline-block;

}



// Color

.color-beige{
  color: $beige;
}

.background-beige{
  background: $beige;
}



// Checkbox

.container-checkbox{
  position: relative;
}
[type="checkbox"] {
  position: absolute;
  left: 0;
  opacity: 0.01;
}

[type="checkbox"] + label {
  position: relative;
  padding-left: 27px;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + label::before,
[type="checkbox"]:checked + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 16px;
  height: 10px;
  border: 1px solid #171717;
  background: transparent;
  border-radius: 5px;
  transition: all .275s;
}

/* Aspect de la coche */
[type="checkbox"]:not(:checked) + label::after,
[type="checkbox"]:checked + label::after {
  content: '';
  position: absolute;

  width: 6px;
  height: 6px;
  background: #171717;
  left: 2px;
  top: 7px;
  border-radius: 50%;
  transition: .2s ease-in-out;
  will-change: transform;
}

/* Aspect non cochée */
[type="checkbox"]:not(:checked) + label::after {

}

/* Aspect cochée */
[type="checkbox"]:checked + label::after {
  opacity: 1;
  transform: translate3D(6px, 0, 0);
}

