

@font-face {
  font-family: 'larkenthin_italic';
  src: url('../fonts/ellenluff_-_larken_thin_italic-webfont.woff2') format('woff2'),
  url('../fonts/ellenluff_-_larken_thin_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'larkenthin';
  src: url('../fonts/ellenluff_-_larken_thin-webfont.woff2') format('woff2'),
  url('../fonts/ellenluff_-_larken_thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'oakes_grotesklight_italic';
  src: url('../fonts/oakes-grotesk-light-italic-webfont.woff2') format('woff2'),
  url('../fonts/oakes-grotesk-light-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'oakes_grotesklight';
  src: url('../fonts/oakes-grotesk-light-webfont.woff2') format('woff2'),
  url('../fonts/oakes-grotesk-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'oakes_groteskregular';
  src: url('../fonts/oakes-grotesk-regular-webfont.woff2') format('woff2'),
  url('../fonts/oakes-grotesk-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
