section.intro-page{
  padding: 0 60px 80px;
  padding-top: 235px;
  overflow: hidden;
  position: relative;

  &:before{
    content: '';
    width: 100vw;
    height: 100vw;
    position: absolute;
    border: solid 1px #3d3d3d;
    opacity: 0.2;
    border-radius: 50%;
    top: -10vw;
    right: -42%;
    z-index: 0;
    pointer-events: none;
  }
  &:after{
    content: '';
    width: 64vw;
    height: 64vw;
    position: absolute;
    border: solid 1px #3d3d3d;
    opacity: 0.2;
    border-radius: 50%;
    top: -10vw;
    right: -20vw;
    z-index: 0;
    pointer-events: none;
  }

  .world-2{
    position: relative;
  }

  .img-1{
    width: 8vw;
  }

  .img-2{
    width: 9vw;
    position: relative;
    top: -4vw;
  }


  .img-3{
    position: relative;
    left: 50%;
    display: block;
    width: 7vw;
  }
}
