// Colors
$blueClear : #b4d5de;
$blueDark : #1d4154;

// Fonts
$serif_thin_italic : 'larkenthin_italic';
$serif_thin : 'larkenthin';

$sans_serif_thin_italic : 'oakes_grotesklight_italic';
$sans_serif_thin : 'oakes_grotesklight';
$sans_serif_regular : 'oakes_groteskregular';
