// Colors
$beige : #f9f5e9;
$black : #000;

// Fonts
$serif_thin_italic : 'larkenthin_italic';
$serif_thin : 'larkenthin';

$sans_serif_thin_italic : 'oakes_grotesklight_italic';
$sans_serif_thin : 'oakes_grotesklight';
$sans_serif_regular : 'oakes_groteskregular';
