@import 'reset';
@import 'bootstrap';
@import 'variables';
@import 'commons';
@import 'components';
@import 'slider';
@import 'header';

@media (min-width: 1200px){
  .container {
    max-width: 1340px;
  }
}

body{
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing : antialiased;
  font-size: 18px;
}


